In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_excel(r"C:\Users\Prakruthi\OneDrive\Desktop\Data_Science\Project_Folder\data\Sales_Project_Synthetic_1000.xlsx")

:

In [3]:
df

,Transaction_ID,Date,Customer_ID,Age,Gender,Income,Loyalty_Score,Signup_Date,Product_ID,Category,...,Coupon_Code_Flag,CLV_proxy,Recency_Days,Frequency_12m,Online_Device,Season,GMV,Discount_Amount,Net_Revenue,Profit_Margin
0,T200521,2024-08-01,C1276,37,M,61679,1,2022-08-21,P104,Apparel,...,1,172.72,134,2,Mobile,Regular,1110.42,222.08,888.34,43.75
1,T200737,2025-06-15,C1315,33,M,78145,5,2021-10-12,P107,Beauty,...,0,427.10,115,7,Mobile,Summer,363.78,36.38,327.40,61.11
2,T200740,2024-09-29,C1013,47,F,63138,5,2025-06-08,P100,Electronics,...,0,363.17,68,12,NaN,Regular,474.76,23.74,451.02,31.58
3,T200660,2024-07-13,C1411,42,F,51681,2,2024-04-28,P105,Apparel,...,0,148.16,179,1,NaN,Summer,448.03,0.00,448.03,55.00
4,T200411,2025-09-20,C1481,30,F,22236,5,2023-03-01,P100,Electronics,...,1,162.92,135,2,NaN,Regular,517.42,25.87,491.55,31.58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,T200106,2024-08-22,C1226,52,M,37442,4,2022-02-03,P109,Sports,...,0,244.02,157,11,Desktop,Regular,942.48,141.37,801.11,35.29
996,T200270,2025-06-09,C1113,26,F,76339,5,2023-03-13,P100,Electronics,...,0,431.76,79,8,NaN,Summer,500.62,100.12,400.50,18.75
997,T200860,2025-05-16,C1379,32,F,44212,6,2022-11-08,P105,Apparel,...,0,309.83,130,12,NaN,Summer,445.56,22.28,423.28,52.63
998,T200435,2025-03-22,C1194,31,F,38968,3,2022-08-05,P104,Apparel,...,0,179.65,102,1,NaN,Regular,627.50,0.00,627.50,55.00
999,T200102,2024-06-13,C1140,25,M,47175,6,2023-05-17,P104,Apparel,...,0,344.84,152,8,NaN,Summer,617.87,92.68,525.19,47.06

In [20]:
df.columns

Index(['Transaction_ID', 'Date', 'Customer_ID', 'Age', 'Gender', 'Income',
       'Loyalty_Score', 'Signup_Date', 'Product_ID', 'Category', 'City',
       'Channel', 'Payment_Method', 'Device', 'Price', 'Discount_Percent',
       'Promotion_Flag', 'Promo_Type', 'Units_Sold', 'Revenue', 'Cost',
       'Profit', 'Margin_Percent', 'Return_Flag', 'Supplier_ID',
       'Lead_Time_Days', 'Delivery_Delay_Days', 'Stock_On_Hand',
       'Marketing_Channel', 'Coupon_Code_Flag', 'CLV_proxy', 'Recency_Days',
       'Frequency_12m', 'Online_Device', 'Season', 'GMV', 'Discount_Amount',
       'Net_Revenue', 'Profit_Margin'],
      dtype='object')

In [4]:
df1 = df.drop(['Transaction_ID','Date','Customer_ID','Age','Gender','Loyalty_Score','Signup_Date','Product_ID','City','Channel','Payment_Method',
            'Device','Promotion_Flag','Promo_Type','Margin_Percent','Return_Flag','Supplier_ID','Lead_Time_Days','Delivery_Delay_Days',
            'Stock_On_Hand','Marketing_Channel','Coupon_Code_Flag','Recency_Days','CLV_proxy','Frequency_12m','Online_Device','Season','Net_Revenue','Profit_Margin'], axis='columns')
df1

,Income,Category,Price,Discount_Percent,Units_Sold,Revenue,Cost,Profit,GMV,Discount_Amount
0,61679,Apparel,61.69,20,18,888.34,499.69,388.65,1110.42,222.08
1,78145,Beauty,20.21,10,18,327.40,127.32,200.08,363.78,36.38
2,63138,Electronics,474.76,5,1,451.02,308.59,142.43,474.76,23.74
3,51681,Apparel,40.73,0,11,448.03,201.61,246.42,448.03,0.00
4,22236,Electronics,517.42,5,1,491.55,336.32,155.23,517.42,25.87
...,...,...,...,...,...,...,...,...,...,...
995,37442,Sports,134.64,15,7,801.11,518.36,282.75,942.48,141.37
996,76339,Electronics,500.62,20,1,400.50,325.40,75.10,500.62,100.12
997,44212,Apparel,37.13,5,12,423.28,200.50,222.78,445.56,22.28
998,38968,Apparel,62.75,0,10,627.50,282.38,345.12,627.50,0.00
999,47175,Apparel,56.17,15,11,525.19,278.04,247.15,617.87,92.68

In [5]:
y = df['Revenue']
y

0      888.34
1      327.40
2      451.02
3      448.03
4      491.55
        ...
995    801.11
996    400.50
997    423.28
998    627.50
999    525.19
Name: Revenue, Length: 1000, dtype: float64

In [6]:
dummies = pd.get_dummies(df1.Category)
dummies = dummies.astype(int)
print(dummies)

     Apparel  Beauty  Electronics  HomeGoods  Sports
0          1       0            0          0       0
1          0       1            0          0       0
2          0       0            1          0       0
3          1       0            0          0       0
4          0       0            1          0       0
..       ...     ...          ...        ...     ...
995        0       0            0          0       1
996        0       0            1          0       0
997        1       0            0          0       0
998        1       0            0          0       0
999        1       0            0          0       0

[1000 rows x 5 columns]

In [7]:
df2 = pd.concat([df1,dummies.drop('Sports', axis='columns')] , axis='columns')
df2

,Income,Category,Price,Discount_Percent,Units_Sold,Revenue,Cost,Profit,GMV,Discount_Amount,Apparel,Beauty,Electronics,HomeGoods
0,61679,Apparel,61.69,20,18,888.34,499.69,388.65,1110.42,222.08,1,0,0,0
1,78145,Beauty,20.21,10,18,327.40,127.32,200.08,363.78,36.38,0,1,0,0
2,63138,Electronics,474.76,5,1,451.02,308.59,142.43,474.76,23.74,0,0,1,0
3,51681,Apparel,40.73,0,11,448.03,201.61,246.42,448.03,0.00,1,0,0,0
4,22236,Electronics,517.42,5,1,491.55,336.32,155.23,517.42,25.87,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,37442,Sports,134.64,15,7,801.11,518.36,282.75,942.48,141.37,0,0,0,0
996,76339,Electronics,500.62,20,1,400.50,325.40,75.10,500.62,100.12,0,0,1,0
997,44212,Apparel,37.13,5,12,423.28,200.50,222.78,445.56,22.28,1,0,0,0
998,38968,Apparel,62.75,0,10,627.50,282.38,345.12,627.50,0.00,1,0,0,0
999,47175,Apparel,56.17,15,11,525.19,278.04,247.15,617.87,92.68,1,0,0,0

In [ ]:
df3 = df2.drop(['Category'], axis='columns')
df3 = df2.drop(['Profit','GMV','Discount_Amount'])
X = df3
X.head(4)

,Income,Price,Discount_Percent,Units_Sold,Revenue,Cost,Profit,GMV,Discount_Amount,Apparel,Beauty,Electronics,HomeGoods
0,61679,61.69,20,18,888.34,499.69,388.65,1110.42,222.08,1,0,0,0
1,78145,20.21,10,18,327.40,127.32,200.08,363.78,36.38,0,1,0,0
2,63138,474.76,5,1,451.02,308.59,142.43,474.76,23.74,0,0,1,0
3,51681,40.73,0,11,448.03,201.61,246.42,448.03,0.00,1,0,0,0

In [9]:
y = df['Revenue']
y.head(4)

0    888.34
1    327.40
2    451.02
3    448.03
Name: Revenue, dtype: float64

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)

In [11]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

1.0

In [12]:
# K fold cross validation

from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=5, test_size=0.2 ,random_state=0)

cross_val_score(LinearRegression(), X,y,cv=cv)

array([1., 1., 1., 1., 1.])

In [13]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor


def find_best_model_using_gridsearchcv(X,y):
    algo = {
        'linear_regression' : {
            'model' : LinearRegression(),
            'params' : {
            
            }
        },
        'Lasso' : {
            'model' : Lasso(),
            'params' : {
                 'alpha' : [1,2],
                'selection' : ['random','cyclic']
            }
        },
        'DecisionTreeRegressor' : {
            'model' : DecisionTreeRegressor(),
            'params' : {
                'criterion' : ['mse','friedman_mse'],
                'splitter' : ['best','random']
            }
        }
    }
    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    for algo_name, config in algo.items():
        gs = GridSearchCV(config['model'], config['params'], cv = cv, return_train_score=False)
        gs.fit(X,y)
        scores.append({
            'model' : algo_name,
            'best_score' : gs.best_score_,
            'best_params' : gs.best_params_
        })
    return pd.DataFrame(scores,columns=['model','best_score','best_params'])
find_best_model_using_gridsearchcv(X,y)

c:\Users\Prakruthi\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\model_selection\_validation.py:516: FitFailedWarning:
10 fits failed out of a total of 20.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "c:\Users\Prakruthi\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\model_selection\_validation.py", line 859, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
    ~~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "c:\Users\Prakruthi\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\base.py", line 1358, in wrapper
    estimator._validate_params()
    ~~~~~~~~~~~~~~~~~~~~~~~~~~^^
  File "c:\Users\Prakruthi\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\base.py", line 471, in _validate_params
    validate_parameter_constraints(
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~^
        self._parameter_constraints,
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
        self.get_params(deep=False),
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
        caller_name=self.__class__.__name__,
        ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
    )
    ^
  File "c:\Users\Prakruthi\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\_param_validation.py", line 98, in validate_parameter_constraints
    raise InvalidParameterError(
    ...<2 lines>...
    )
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of DecisionTreeRegressor must be a str among {'absolute_error', 'friedman_mse', 'poisson', 'squared_error'}. Got 'mse' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
c:\Users\Prakruthi\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\model_selection\_search.py:1135: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.99727344 0.99358576]
  warnings.warn(

,model,best_score,best_params
0,linear_regression,1.000000,{}
1,Lasso,1.000000,"{'alpha': 2, 'selection': 'cyclic'}"
2,DecisionTreeRegressor,0.997273,"{'criterion': 'friedman_mse', 'splitter': 'best'}"

In [14]:
df3.columns

Index(['Income', 'Price', 'Discount_Percent', 'Units_Sold', 'Revenue', 'Cost',
       'Profit', 'GMV', 'Discount_Amount', 'Apparel', 'Beauty', 'Electronics',
       'HomeGoods'],
      dtype='object')

In [15]:
def predict_revenue(Category,Income,Price,Discount_Percent,Units_Sold,Cost,Profit, GMV, Discount_Amount):
    cat_index = np.where(X.columns==Category)[0][0]  # giving index to the hard coded category value

    x = np.zeros(len(X.columns))
    x[0] = Income
    x[1] = Price
    x[2] = Discount_Percent
    x[3] = Units_Sold
    x[4] = Cost
    x[5] = Profit
    x[6] = GMV
    x[7] = Discount_Amount
    if cat_index >= 0:
        x[cat_index] = 1
    return lr_clf.predict([x])[0]
predict_revenue('Beauty',78145,61.69,10,35,499.69,127.32,1110.42,222.08)

c:\Users\Prakruthi\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

np.float64(745.7066666668137)

In [16]:
df3.head(4)

,Income,Price,Discount_Percent,Units_Sold,Revenue,Cost,Profit,GMV,Discount_Amount,Apparel,Beauty,Electronics,HomeGoods
0,61679,61.69,20,18,888.34,499.69,388.65,1110.42,222.08,1,0,0,0
1,78145,20.21,10,18,327.40,127.32,200.08,363.78,36.38,0,1,0,0
2,63138,474.76,5,1,451.02,308.59,142.43,474.76,23.74,0,0,1,0
3,51681,40.73,0,11,448.03,201.61,246.42,448.03,0.00,1,0,0,0

In [17]:
import pickle
with open('Sales_Optimization.pickel', 'wb') as f:
    pickle.dump(lr_clf,f)

In [63]:
import json
columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open("columns.json", "w") as f:
    f.write(json.dumps(columns))